@use 'sass:map';

@use '../../../styles/abstracts/maps' as *;
@use "../../../styles/abstracts/functions" as *;





.navbar {
    position: absolute;
    width: 100%;
    z-index: 20;



    /* 🔹 Contenedor principal */
    &__main {
        // background-color: bisque;

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    /* 🔹 Botón hamburguesa */
    &__toggle {
        display: none;

        

        height: 48px;
        width: 48px;
        // background: rgb(0, 255, 64);
        border: none;
        cursor: pointer;
        
    }

    /* 🔹 Acciones (derecha) */
    &__actions {
        // background-color: red;

        display: flex;
        margin-right: 24px;

        
        align-items: center;
        gap: 8px;

        //TEXT
        font-family: font-family(display);
        font-size: font(s, size);
        line-height: font(s, line);
        font-weight: weight(semibold);
    }

    &__icons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    aspect-ratio: 1 / 1;    
    }

    /* 🔹 Links secundarios (desktop) */
    &__links-secondary {
        display: flex;      
        margin-right: 24px;
        height: 20px;
        color: get-color(text, primary);
    }

    /* Desktop */
    &__links-desktop {
        // background-color: pink;

        display: flex;
        margin-left: 24px;
        gap: 0px;

        font-family: font-family(display);
        font-size: font(s, size);
        line-height: font(s, line);        
    }

    &__link {
        // background-color: rgb(222, 222, 255);
        
        display: flex;
        align-items: center;
        gap: 8px;

        padding: 10px 16px;
        height: 48px;

        position: relative;

        //TEXT
        font-family: font-family(display);
        font-size: font(s, size);
        line-height: font(s, line);
        font-weight: weight(semibold);
    }

    &__oferta{
        color: get-color(emphasis, regular);
    }

    // Este es el dropdown para movil 
    &__dropdown{
        background-color: violet;

        display: none;
        width: 100%;
    }   

    &__dropdown.active {
        display: block;
    }

  
    /* 🔹 Menú desplegable */
    &__menu {
        background-color: rgb(226, 226, 226);

        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px;

        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;

        /* estado cerrado */
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none;

        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    /* 🔹 Estado abierto */
    &__menu.active {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    /* 🔹 Botón cerrar */
    &__close {
        background-color: pink;

        align-self: flex-start;
        font-size: px;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* 🔹 Links del menú */
    &__links-movil {
        // background: darkorange;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


@media (min-width: 905px) {
    .navbar__item:hover .navbar__dropdown {
        display: block;
        
        position: absolute;
        top: 100%;
        left: 40px; 
        
    }
}



@media (max-width: 904px) {

    .navbar {

        &__toggle {
            // background-color: rgb(113, 86, 31);

            display: flex;
            justify-content: center;
            align-items: center;   
            
            margin-left: 8px;
        }

        &__links-secondary {
            display: none;
        }

        &__links-desktop {
            display: none;
        }

        &__actions {
            margin-right: 8px;
        }

    }

}






















