
// Esto es importante para que el contenido section se acople al ancho de la pantalla.
.scroll-container {
  width: 100vw;
  // height: 300vh;
  // background-color: pink;

}



canvas {
  // background-color: pink;
  position: fixed;
  top: 0; 
  left: 0;
  outline: none;
}