
// Esto es importante para que el contenido section se acople al ancho de la pantalla.
.scroll-container {
  width: 100vw;
  // height: 300vh;
  // background-color: pink;
}


//Pruebas

.prueba-1 {
  position: absolute;
  top: 10%;
  left: 10%;
  
}

.prueba-2 {
  position: absolute;
}